* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: black;
    font-family: "Pixeled_English_Font", sans-serif;
    height: 100vh;
    overflow: hidden;
}

.game-container {
    position: relative;
    width: 1100px;
    height: 700px;
    max-width: 100%;
    max-height: 95vh;
    margin: 0 auto;
    margin-top: 20px;
    outline: 1px solid white;
    box-sizing: border-box;
}

.game-canvas {
    width: 100%;
    height: 100%;
    display: block;
}

@media (max-width: 900px) {
    .game-container {
        width: 100%;
        height: 100vh;
        max-height: 100vh;
        margin-top: 0;
    }
}
