@font-face {
    font-family: "Pixeled_English_Font";
    src: url('/fonts/Pixeled_English_Font.ttf') format('truetype');
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

.game-container {
    width: 1100px;
    height: 700px;
    margin: 0 auto;
    margin-top: 20px;
    outline: 1px solid white;
    position: relative;
    background: url('/immagini/background4.gif') no-repeat center center fixed;
    background-size: 1600px 750px;
}

.pause-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: black;
    color: rgba(239, 167, 50);
    border: 1px solid rgba(239, 167, 50);
    padding: 10px 20px;
    font-family: "Pixeled_English_Font", sans-serif;
    cursor: pointer;
    border-radius: 5px;
}

.pause-button:hover {
    background-color: rgb(100, 99, 99);
}

.popup-overlay, .popup-overlay-end {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    font-family: "Pixeled_English_Font", sans-serif;
    z-index: 100;
}

.popup, .popup-end {
    background-color: black;
    border: 1px solid rgb(239, 167, 50);
    color: rgb(239, 167, 50);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.popup button, .popup-end button {
    background-color: rgba(239, 167, 50);
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    margin: 10px;
    font-family: "Pixeled_English_Font", sans-serif;
    cursor: pointer;
    border-radius: 5px;
}

.popup button:hover, .popup-end button:hover {
    background-color: rgb(245, 181, 79);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    flex-wrap: wrap;
}

.personaggio {
    margin: 0 25px;
}

.personaggio:first-child {
    margin-left: auto;
}

.personaggio:last-child {
    margin-right: auto;
}

.personaggio {
    width: 200px;
    height: 200px;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: auto;
    margin-bottom: 120px;
}

.stregone {
    background-image: url('/immagini/stregone.png');
    z-index: 1;
}

.cavaliere {
    background-image: url('/immagini/cavaliere.png');
    z-index: 1;
}

.cacciatrice {
    background-image: url('/immagini/cacciatrice.png');
    z-index: 1;
}

.chierico {
    background-image: url('/immagini/chierico.png');
    z-index: 1;
}

.username {
    position: absolute;
    top: 110px;
    right: 20px;
    color: rgb(239, 167, 50);
    font-family: "Pixeled_English_Font", sans-serif;
    padding: 10px 20px;
    border-radius: 5px;
}

.info-box {
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(239, 167, 50);
    font-family: "Pixeled_English_Font", sans-serif;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid rgb(239, 167, 50);
    margin-top: 200px;
    width: 200px;
}

.nome-classe {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.stat-bar-container {
    display: flex;
    flex-direction: column;
}

.stat-bar {
    width: 50%;
    margin-top: 5px;
    height: 15px;
    position: relative;
}

.stat-bar .sample {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.stat-bar .fill {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.stat-bar.health .fill {
    background-color: green;
}

.stat-bar.mana .fill {
    background-color: blue;
}

.stat-bar.experience .fill {
    background-color: lightskyblue;
}

.stat-label {
    font-size: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 105%;
    color: white;
    white-space: nowrap;
    font-family: "Pixeled_English_Font", sans-serif;
}

.monster-container {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.monster-name {
    font-family: "Pixeled_English_Font", sans-serif;
    color: rgb(239, 167, 50);
    font-size: 27px;
    margin-bottom: 10px;
}

.stat-bar.monster-health {
    width: 400px;
    height: 20px;
    border-radius: 10px;
}

.stat-bar.monster-health .fill {
    background-color: rgb(239, 167, 50);
}

.stat-bar.monster-health .sample {
    background-color: gray;
}

.monster-image {
    width: 400px;
    height: 400px;
    margin-top: 25px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.action-box {
    position: absolute;
    width: 200px;
    top: 50px;
    left: 50px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(239, 167, 50);
    font-family: "Pixeled_English_Font", sans-serif;
    border-radius: 5px;
    z-index: 50;  
}

.action-box-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.action-box button {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    background-color: rgb(239, 167, 50);
    font-family: "Pixeled_English_Font", sans-serif;
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.action-box backbutton {
    display: block;
    width: 90%;
    margin-bottom: 5px;
    padding: 10px;
    background-color: black;
    font-family: "Pixeled_English_Font", sans-serif;
    font-size: 11px;
    color: rgb(239, 167, 50);
    border: 1px solid rgb(239, 167, 50);
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}

.action-box button:hover {
    background-color: rgb(245, 181, 79);
}

.action-box backbutton:hover {
    background-color: rgb(100, 99, 99);
}

@keyframes flicker {
    0% { opacity: 1; }
    25% { opacity: 0; }
    50% { opacity: 1; }
    75% { opacity: 0; }
    100% { opacity: 1; }
}

.flicker {
    animation: flicker 0.5s linear;
}

.critico {
    color: red;
    font-weight: bold;
    font-family: "Pixeled_English_Font", sans-serif;
    position: absolute;
    animation: fadeOut 1s linear;
    z-index: 5;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}