@font-face {
    font-family: "Pixeled_English_Font";
    src: url('/fonts/Pixeled_English_Font.ttf') format('truetype');
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

.game-container {
    width: 1100px;
    height: 700px;
    margin: 0 auto;
    margin-top: 20px;
    outline: 1px solid white;
    position: relative; 
    background: url('/immagini/background3.gif') no-repeat center center fixed;
    background-size: 1100px 750px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    padding: 20px;
}

.container h1 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: "Pixeled_English_Font"; 
    font-size: 50px;
    color: rgb(239, 167, 50);
    text-align: center;
}

.menu {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    width: 100%;
}

.menu-button {
    position: absolute;
    height: 60px;
    top: 40px;
    margin-bottom: 10px;
    padding: 0 5px;
    font-family: "Pixeled_English_Font"; 
    font-size: 50px;
    background-color: black;
    color: rgb(239, 167, 50);
    border: 2px solid rgb(239, 167, 50);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 40px;
    margin-left: 20px;
}

.menu-button:hover {
    background-color: #555;
}

.username {
    position: absolute;
    top: 110px;
    right: 20px;
    color: rgb(239, 167, 50);
    font-family: "Pixeled_English_Font", sans-serif;
    padding: 10px 20px;
    border-radius: 5px;
}

.progress-area {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 550px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid rgb(239, 167, 50);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: hidden;
}

.stats-column {
    font-family: "Pixeled_English_Font", sans-serif;
    font-size: 45px;
    color: rgb(239, 167, 50);
}

.stats-column p {
    margin: 20px 0;
}

.reset-button {
    height: 75px;
    padding: 10px 20px;
    font-family: "Pixeled_English_Font"; 
    font-size: 40px;
    background-color: black;
    color: rgb(239, 167, 50);
    border: 2px solid rgb(239, 167, 50);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.reset-button:hover{
    background-color:  rgb(100, 99, 99);
}
