@font-face {
    font-family: "Pixeled_English_Font";
    src: url('/fonts/Pixeled_English_Font.ttf') format('truetype');
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

.game-container {
    width: 1100px;
    height: 700px;
    margin: 0 auto;
    margin-top: 20px;
    outline: 1px solid white;
    position: relative; 
    background: url('/immagini/background2.gif') no-repeat center center fixed;
    background-size: 1100px 750px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    padding: 20px;
}

.container h1 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: "Pixeled_English_Font"; 
    font-size: 50px;
    color: rgb(239, 167, 50);
    text-align: center;
}

.menu {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    width: 100%;
}

.menu-button {
    position: absolute;
    height: 60px;
    top: 40px;
    margin-bottom: 10px;
    padding: 0 5px;
    font-family: "Pixeled_English_Font"; 
    font-size: 50px;
    background-color: black;
    color: rgb(239, 167, 50);
    border: 2px solid rgb(239, 167, 50);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 40px;
    margin-left: 20px;
}

.menu-button:hover {
    background-color: #555;
}

.image {
    position: absolute;
    margin-top: 20px;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    height: 500px;
}

.status-container {
    border: 2px solid rgb(239, 167, 50); 
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.right-panel {
    position: absolute;
    top: 51%;
    right: 50px;
    transform: translateY(-50%);
    width: 400px;
}

.status-bar {
    height: 30px;
    margin-bottom: 10px;
    border: 1px solid rgb(239, 167, 50);
    border-radius: 10px;
}

.health {
    background-color: green;
}

.mana {
    background-color: blue;
}

.attribute-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    margin-right: 10px;
    border: 1px solid rgb(239, 167, 50);
}

.attribute {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.attribute span {
    font-family: "Pixeled_English_Font", sans-serif;
    color: rgb(239, 167, 50);
}

.attribute img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.level-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px; 
}

.level {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    color: rgb(239, 167, 50);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    border: 2px solid rgb(239, 167, 50);
    font-family: "Pixeled_English_Font", sans-serif;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.level:hover {
    background-color: rgb(239, 167, 50);
    color: black;
}

.level.locked {
    color: gray;
    border-color: gray;
    cursor: default;
    pointer-events: none;
}
.level.locked:hover {
    background-color: transparent;
}

.divider {
    color: rgb(239, 167, 50);
    font-size: 20px;
    margin: 0 5px;
}

.experience-bar {
    width: 100%;
    height: 15px;
    background-color: lightblue;
    border-radius: 10px;
}

.experience-sample {
    position: relative;
    width: 100%;
    height: 15px;
    margin-top: 30px;
    border: 1px solid rgb(239, 167, 50);
    border-radius: 10px;
    overflow: hidden;
}

.experience-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Pixeled_English_Font", sans-serif;
    color: rgb(239, 167, 50);
    padding-top: 4px;
}

.username {
    position: absolute;
    top: 110px;
    right: 20px;
    color: rgb(239, 167, 50);
    font-family: "Pixeled_English_Font", sans-serif;
    padding: 10px 20px;
    border-radius: 5px;
}